RewriteEngine On
RewriteBase /sahar-project/backend/public

# If the request is not a file or directory, route it through index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
